<div>
  <link href="./banner.css" rel="stylesheet" />
  <div class="banner-banner">
    <h1 class="banner-text"><span>Our Mission</span></h1>
    <span class="banner-text1">
      <span>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Sed non volutpat turpis. Mauris luctus rutrum mi ut rhoncus.
          Integer in dignissim tortor. Sed non volutpat turpis. Mauris luctus
          rutrum mi ut rhoncus. Integer in dignissim ortor.
        </span>
        <span></span>
      </span>
    </span>
    <button class="banner-button button"><span>Read More</span></button>
  </div>
</div>
