{% extends "base.html" %}
{% block content %}
    <section class="container">
    <div class="card">
        <div class="card-header">
            {% if user is not none %}
                Hello {{ user.name }}
                <div class="btn-group float-right">
                    <a class="btn btn-danger" href="{{ url_for('Routes.logout') }}" role="button">logout</a>
                </div>
                {% else %}
                <div class="btn-group float-right">
                    <a class="btn btn-info" href="{{ url_for('Routes.login') }}" role="button">login</a>
                </div>

            {% endif %}
{#            <div class="btn-group float-right">#}
{#                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    Info#}
{#                </button>#}
{#                <div class="dropdown-menu">#}
{#                    <a class="dropdown-item" href="{{ url_for('Routes.login') }}">login</a>#}
{#                </div>#}
{#                <div class="dropdown-menu">#}
{#                    <a class="dropdown-item" href="{{ url_for('Routes.logout') }}">logout</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
</section>

{% endblock content %}