{% extends "base.html" %}
{% block content %}
<div class="tabs">
    <div role="tablist">
      <button id="tab-1" aria-selected="true" aria-controls="tab-panel-1" role="tab" type="button" tabindex="0">
        Student
      </button>
      <button id="tab-2" aria-selected="false" aria-controls="tab-panel-2" role="tab" type="button" tabindex="-1">
        Tutor
      </button>
    </div>
    <div id="tab-panel-1" aria-labelledby="tab-1" role="tabpanel" tabindex="0">

        <div class="card">
        <form action="/handle_signup" method="POST" name="form">
        <div class="card-header">
            Student Signup
        </div>


        <div class="card-body">

        <div class="form-group">

            <label for="title">Username</label>
            <input type="text" class="form-control" value="" placeholder="username" name="username">
            <label class="login-field-icon fui-user" for="login-name"></label>

        </div>

        <div class="form-group">

            <label for="title">Password</label>
            <input type="password" class="form-control" value="" placeholder="password" name="password">
            <label class="login-field-icon fui-lock" for="login-pass"></label>

        </div>

        <div class="form-group">

            <label for="title">Email</label>
            <input type="email" class="form-control" value="" placeholder="example@gmail.com" name="email">
            <label class="login-field-icon fui-lock" for="login-email"></label>

        </div>

        <div class="form-group">

            <label for="title">Name</label>
            <input type="text" class="form-control" value="" placeholder="Jon Doe" name="name">
            <label class="login-field-icon fui-lock" for="login-name"></label>

        </div>

        <div class="form-group">

            <label for="title">age</label>
            <input type="number" class="form-control" value="" placeholder="10" name="age">
            <label class="login-field-icon fui-lock" for="login-age"></label>

        </div>

        <div class="form-group">

            <label for="title">Summary</label>
            <textarea class="form-control" placeholder="Summary" name="summary"></textarea>
            <label class="login-field-icon fui-lock" for="login-summary"></label>

        </div>

        <div class="form-group">

            <label for="title">Profile Picture</label>
            <input type="file" class="form-control-file" name="profile_picture">
            <label class="login-field-icon fui-user" for="login-profile-picture"></label>

        </div>

            <input type="hidden" name="user_type" id="user_type" value="student" />

        </div>

    <div class="card-footer">
        <input type="submit" value="Sign Up" class="btn btn-sm btn-primary float-right">
        <a class="btn btn-sm btn-secondary float-left" href="{{url_for('Routes.homepage')}}">Cancel</a>
        <a class="btn btn-sm btn-secondary float-right" href="{{url_for('Routes.login')}}">login</a>
    </div>

    </form>

    </div>
    </div>


    <div id="tab-panel-2" aria-labelledby="tab-2" role="tabpanel" tabindex="-1" hidden>
     <div class="card">
        <form action="/handle_signup" method="POST" name="form">
        <div class="card-header">
            Tutor Signup
        </div>


        <div class="card-body">

        <div class="form-group">

            <label for="title">Username</label>
            <input type="text" class="form-control" value="" placeholder="username" name="username">
            <label class="login-field-icon fui-user" for="login-name"></label>

        </div>

        <div class="form-group">

            <label for="title">Password</label>
            <input type="password" class="form-control" value="" placeholder="password" name="password">
            <label class="login-field-icon fui-lock" for="login-pass"></label>

        </div>

        <div class="form-group">

            <label for="title">Email</label>
            <input type="email" class="form-control" value="" placeholder="example@gmail.com" name="email">
            <label class="login-field-icon fui-lock" for="login-email"></label>

        </div>

        <div class="form-group">

            <label for="title">Name</label>
            <input type="text" class="form-control" value="" placeholder="Jon Doe" name="name">
            <label class="login-field-icon fui-lock" for="login-name"></label>

        </div>

        <div class="form-group">

            <label for="title">age</label>
            <input type="number" class="form-control" value="" placeholder="10" name="age">
            <label class="login-field-icon fui-lock" for="login-age"></label>

        </div>

        <div class="form-group">

            <label for="title">Summary</label>
            <textarea class="form-control" placeholder="Summary" name="summary"></textarea>
            <label class="login-field-icon fui-lock" for="login-summary"></label>

        </div>

        <div class="form-group">

            <label for="title">Profile Picture</label>
            <input type="file" class="form-control-file" name="profile_picture">
            <label class="login-field-icon fui-user" for="login-profile-picture"></label>

        </div>

            <input type="hidden" name="user_type" id="user_type" value="tutor" />

        </div>

    <div class="card-footer">
        <input type="submit" value="Sign Up" class="btn btn-sm btn-primary float-right">
        <a class="btn btn-sm btn-secondary float-left" href="{{url_for('Routes.homepage', user=user)}}">Cancel</a>
        <a class="btn btn-sm btn-secondary float-right" href="{{url_for('Routes.login')}}">login</a>
    </div>

    </form>

    </div>
    </div>
</div>
    <script>
    const tabElements = document.querySelectorAll('button[role="tab"]');
const panelElements = document.querySelectorAll('[role="tabpanel"]');
let activeIndex = 0;

// Listen to clicks and key presses on tabs
tabElements.forEach(function (tab, index) {
  tab.addEventListener("click", function (event) {
    setActiveTab(index);
  });

  tab.addEventListener("keydown", function (event) {
    const lastIndex = tabElements.length - 1;

    if (event.code === "ArrowLeft" || event.code === "ArrowUp") {
      if (activeIndex === 0) {
        // First element, jump to end
        setActiveTab(lastIndex);
      } else {
        // Move left
        setActiveTab(activeIndex - 1);
      }
    } else if (event.code === "ArrowRight" || event.code === "ArrowDown") {
      if (activeIndex === lastIndex) {
        // Last element, jump to beginning
        setActiveTab(0);
      } else {
        // Move right
        setActiveTab(activeIndex + 1);
      }
    } else if (event.code === "Home") {
      // Move to beginning
      setActiveTab(0);
    } else if (event.code === "End") {
      // Move to end
      setActiveTab(lastIndex);
    }
  });
});

function setActiveTab(index) {
  // Make currently active tab inactive
  tabElements[activeIndex].setAttribute("aria-selected", "false");
  tabElements[activeIndex].tabIndex = -1;

  // Set the new tab as active
  tabElements[index].setAttribute("aria-selected", "true");
  tabElements[index].tabIndex = 0;
  tabElements[index].focus();

  setActivePanel(index);
  activeIndex = index;
}

function setActivePanel(index) {
  // Hide currently active panel
  panelElements[activeIndex].setAttribute("hidden", "");
  panelElements[activeIndex].tabIndex = -1;

  // Show the new active panel
  panelElements[index].removeAttribute("hidden");
  panelElements[index].tabIndex = 0;
}

    </script>
{% endblock content %}